### @soops' web gitignore file ###

### Bower ###
lib
.bower-cache
.bower-registry
.bower-tmp

### Dist Folder ###
dist

### Node ###
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules

### Cloud9 (shouts out to my online ide!) ###
.c9revisions
.c9

### Linux ###
*~
.directory
.Trash-*


### grunt ###
dist/
.tmp/