/*
css
*/

@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

@media only screen and (max-device-width: 480px) {
     .col-xs-4, .col-sm-4, .col-md-4 {
       padding-left: 2px;
       padding-right: 2px;
     }

     .row {
       padding-left: 13px;
       padding-right: 13px;
     }

     .para, .part, .part-label, .button-primary, .head-input{
       font-size: 3vw !important;
     }
}

html, body, .row {
    height: 100%
}

.container {
    padding-bottom: 4vh;
}

.part-label,  body, .button-primary, .head-input {
    font-family: "Inconsolata", monospace !important;
    font-size: 12pt;
}

.button-primary {
    transition: border .5s, box-shadow .5s;
}

#date-text {
    padding: 0.5vw;
}

.head-input {
    font-size: 12pt;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 0.5vw;
    
    border: 1px solid rgb(169, 169, 169);
    outline: none;
    transition: border .5s, box-shadow .5s;
}

.para, .part {
    border: 1px solid initial;
    outline: none;
    transition: border .5s, box-shadow .5s;

    width: 100%;
    height: 15vh;
    
    font-size: 12pt;

    resize: none;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 0.5vw;
}

.part:focus, .para:focus, .button-primary:hover, .button-primary.zeroclipboard-is-hover, .head-input:focus {
    border: 1px solid #17dbdb;
    -webkit-box-shadow: 0.5vw 0.1vh 3vh rgba(0,0,0,0.18);
    -moz-box-shadow: 0.5vw 0.1vh 3vh rgba(0,0,0,0.18);
    box-shadow: 0.5vw 0.1vh 3vh rgba(0,0,0,0.18);
}